name: Update Latest Projects
on:
schedule:
- cron: '0 */24 * * *'
workflow_dispatch:


jobs:
update-projects:
runs-on: ubuntu-latest
steps:
- uses: actions/checkout@v3


- name: Update project list
uses: Kholid060/autoupdate-projects-readme@v1.0.0
with:
github_token: ${{ secrets.GITHUB_TOKEN }}
output: './README.md'
